<div class="wrapper">

    {{> header}}

    <!-- Left side column. contains the logo and sidebar -->
    {{> sidebar}}

    <!-- Content Wrapper. Contains page content -->

    <style>
        .mrgl5 {
            margin-left: 5px;
        }
    </style>

    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">管理员同步用户组数据</h3>
                        </div>
                        <div class="box-body pad table-responsive">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <label>用户组:</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <select id="groupList" class="form-control" style="width: 100%;">
                                    </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-flat btn-info" onclick="updateGroupUserListData()">同步</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        //用户组
$.ajax({
    url: 'api/getGroupList',
    method: 'get',
    dataType: 'json',
    success: function (data) {
        $("#groupList").select2({
            data: data,
            placeholder: '请选择用户组',
            allowClear: true
        });
        $("#groupList").val(null).trigger("change");
    }
});

/*
*同步数据
*/
function updateGroupUserListData(){

   var groupName = $('#groupList').val();
   if(!groupName){
      toastr.error('请选择需要同步的用户组');
      return;
   }
   $.ajax({
    url: 'api/updateGroupUserListData',
    method: 'post',
    data: {
        groupName: groupName
    },
    dataType: 'json',
    success: function (response) {
    
        if(response.success){
          toastr.success(response.msg);
        }else{
             toastr.error(response.msg);
        }
    }
});
}
        </script> {{> footer}}
</div>
<!-- ./wrapper -->